@{
    ViewData["Title"] = "Age Calculator";
}


<div class="text-center">
    <h1 class="display-4">Find Your Age</h1>

    <div class="row">
        <div class="col-5">
            <form form asp-controller="Home" asp-action="CalculateAge" method="POST">

                <input type="number" name="day" class="form-control mt-3" placeholder="Day">

                <input type="number" name="month" class="form-control mt-3" placeholder="Month">

                <input type="number" name="Year" class="form-control mt-3" placeholder="Year">
                
                <button type="submit" class="btn btn-primary mt-3">Click to see the Age</button>
            </form>
        </div>
        
        @if (ViewBag.Age != null)
        {
            <div>
                <h2>Your current age is: @ViewBag.Age</h2>
            </div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
                    <p class="text-danger">Error: @ViewBag.ErrorMessage</p>
        }
    </div>
</div>